[project]
	description = Tools for Odoo Administrators to improve some technical features on Odoo.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Graeme Gellatly (gdgellatly)
[access "refs/for/refs/*"]
	read = group user/Graeme Gellatly (gdgellatly)
	push = group user/Graeme Gellatly (gdgellatly)
	label-Code-Review = -2..+2 group user/Graeme Gellatly (gdgellatly)
	label-Verified = -1..+1 group user/Graeme Gellatly (gdgellatly)
	rebase = group user/Graeme Gellatly (gdgellatly)
	removeReviewer = group user/Graeme Gellatly (gdgellatly)
	submit = group user/Graeme Gellatly (gdgellatly)
[access "refs/heads/*"]
	read = group user/Graeme Gellatly (gdgellatly)
	create = group user/Graeme Gellatly (gdgellatly)
	push = +force group user/Graeme Gellatly (gdgellatly)
	pushMerge = group user/Graeme Gellatly (gdgellatly)
[access "refs/tags/*"]
	push = +force group user/Graeme Gellatly (gdgellatly)
	pushTag = group user/Graeme Gellatly (gdgellatly)
	pushSignedTag = group user/Graeme Gellatly (gdgellatly)
